
@mixin overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/*
** prefixer Mixin
** Auto add prefixer to animation 
*/
@mixin prefixer($property, $value , $prefixes : ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property} : $value ;
}

/*
** Animation Mixin
** Auto add prefixer to animation 
*/

@mixin KeyFrames($animation-name) {

    @-webkit-keyframes #{$animation-name} {

        @content;
    }
    @-moz-keyframes #{$animation-name} {

        @content;
    }
    @keyframes #{$animation-name} {

        @content;
    }
}